#include <behaviors.dtsi>
#include <behaviors/num_word.dtsi>
#include <dt-bindings/zmk/keys.h>
#ifdef CONFIG_WIRELESS
  #include <dt-bindings/zmk/bt.h>
  #include <dt-bindings/zmk/outputs.h>
#endif

#include "constants.dtsi"
#include "mouse.dtsi"

/* Keymap */

/ {
   keymap {
       compatible = "zmk,keymap";

       base_layer {
           display-name = "Base";
           bindings = <
//    ┌──────────┬────────────┬────────────┬──────────────┬────────────┬─────────────┐   ┌───────────────┬────────────┬────────────┬────────────┬────────────┬─────┐
//    │  mo FUN  │  lt MOU Q  │     Y      │      U       │     O      │      /      │   │       X       │     L      │     D      │     W      │     V      │  -  │
//    ├──────────┼────────────┼────────────┼──────────────┼────────────┼─────────────┤   ├───────────────┼────────────┼────────────┼────────────┼────────────┼─────┤
//    │ k_cancel │ hml lctl C │ hml lalt I │  hml lsft E  │ hml lgui A │      ,      │   │       K       │ hmr rgui H │ hmr rsft T │ hmr ralt N │ hmr rctl S │     │
//    ├──────────┼────────────┼────────────┼──────────────┼────────────┼─────────────┤   ├───────────────┼────────────┼────────────┼────────────┼────────────┼─────┤
//    │ tog MOU  │     B      │     Z      │      '       │     .      │      ä      │   │       J       │     M      │     G      │     P      │     F      │ <3  │
//    └──────────┴────────────┴────────────┼──────────────┼────────────┼─────────────┤   ├───────────────┼────────────┼────────────┼────────────┴────────────┴─────┘
//                                         │ mt HYPER tab │ lt SYM spc │ cwt HYPER 0 │   │ nwt HYPER PAD │  lt NAV R  │ lt NUM esc │
//                                         └──────────────┴────────────┴─────────────┘   └───────────────┴────────────┴────────────┘
  &mo FUN        &lt MOU Q      &kp Y         &kp U           &kp O           &kp SLASH          &kp X            &kp L         &kp D          &kp W         &kp V          &kp MINUS
  &kp K_CANCEL   &hml LCTRL C   &hml LALT I   &hml LSHFT E    &hml LGUI A     &kp COMMA          &kp K            &hmr RGUI H   &hmr RSHFT T   &hmr RALT N   &hmr RCTRL S   &none
  &tog MOU       &kp B          &kp Z         &kp SQT         &kp DOT         &kp ISO            &kp J            &kp M         &kp G          &kp P         &kp F          &lt3
                                              &mt HYPER TAB   &lt SYM SPACE   &cwt HYPER 0       &nwt HYPER PAD   &lt NAV R     &lt NUM ESC
           >;
       };

       sym_layer {
           bindings = <
//    ┌────┬────────────┬────────────┬────────────┬────────────┬────┐   ┌───┬────────────┬────────────┬────────────┬──────────────┬──────┐
//    │    │     <      │     (      │     )      │     >      │ ?  │   │ ` │     +      │     #      │     %      │      \       │ del  │
//    ├────┼────────────┼────────────┼────────────┼────────────┼────┤   ├───┼────────────┼────────────┼────────────┼──────────────┼──────┤
//    │    │ hml lctl ^ │ hml lalt _ │ hml lsft = │ hml lgui $ │ ,  │   │ " │ hmr rgui - │ hmr rsft * │ hmr ralt & │ hmr rctl spc │ bspc │
//    ├────┼────────────┼────────────┼────────────┼────────────┼────┤   ├───┼────────────┼────────────┼────────────┼──────────────┼──────┤
//    │    │     ~      │     /      │     |      │     .      │ ;  │   │ € │     [      │     {      │     }      │      ]       │  ™   │
//    └────┴────────────┴────────────┼────────────┼────────────┼────┤   ├───┼────────────┼────────────┼────────────┴──────────────┴──────┘
//                                   │            │            │    │   │ @ │     :      │     !      │
//                                   └────────────┴────────────┴────┘   └───┴────────────┴────────────┘
  ___   &kp LESS_THAN      &kp LEFT_PARENTHESIS   &kp RIGHT_PARENTHESIS   &kp GREATER_THAN   &kp QUESTION        &kp GRAVE           &kp PLUS           &kp HASH              &kp PERCENT           &kp BACKSLASH       &kp DELETE
  ___   &hml LCTRL CARET   &hml LALT UNDERSCORE   &hml LSHFT EQUAL        &hml LGUI DOLLAR   &kp COMMA           &kp DOUBLE_QUOTES   &hmr RGUI MINUS    &hmr RSHFT ASTERISK   &hmr RALT AMPERSAND   &hmr RCTRL SPACE    &kp BACKSPACE
  ___   &kp TILDE          &kp SLASH              &kp PIPE                &kp DOT            &kp SEMICOLON       &kp EURO            &kp LEFT_BRACKET   &kp LEFT_BRACE        &kp RIGHT_BRACE       &kp RIGHT_BRACKET   &kp TM
                                                  ___                     ___                ___                 &kp AT_SIGN         &kp COLON          &kp EXCLAMATION
           >;

           label = "Symbols";
       };

       num_layer {
           bindings = <
//    ┌────┬────────────┬────────────┬────────────┬────────────┬────┐   ┌────┬────────────┬────────────┬────────────┬────────────┬────┐
//    │    │     ¥      │     £      │     €      │     $      │    │   │    │            │            │            │     :      │    │
//    ├────┼────────────┼────────────┼────────────┼────────────┼────┤   ├────┼────────────┼────────────┼────────────┼────────────┼────┤
//    │    │ hml lctl 1 │ hml lalt 2 │ hml lsft 3 │ hml lgui 4 │ 5  │   │ 6  │ hmr rgui 7 │ hmr rsft 8 │ hml ralt 9 │ hml rctl 0 │    │
//    ├────┼────────────┼────────────┼────────────┼────────────┼────┤   ├────┼────────────┼────────────┼────────────┼────────────┼────┤
//    │    │            │            │            │            │    │   │    │            │            │            │            │    │
//    └────┴────────────┴────────────┼────────────┼────────────┼────┤   ├────┼────────────┼────────────┼────────────┴────────────┴────┘
//                                   │  lctl(B)   │    bspc    │    │   │    │            │            │
//                                   └────────────┴────────────┴────┘   └────┴────────────┴────────────┘
  ___   &kp YEN         &kp POUNDS     &kp EURO        &kp DOLLAR      ___          ___      ___            ___             ___            &kp COLON       ___
  ___   &hml LCTRL N1   &hml LALT N2   &hml LSHFT N3   &hml LGUI N4    &kp N5       &kp N6   &hmr RGUI N7   &hmr RSHFT N8   &hml RALT N9   &hml RCTRL N0   ___
  ___   ___             ___            ___             ___             ___          ___      ___            ___             ___            ___             ___
                                       &kp LC(B)       &kp BACKSPACE   ___          ___      ___            ___
           >;

           label = "Numbers";
       };

       pad_layer {
           display-name = "Numpad";
           bindings = <
//    ┌────┬────┬────┬────┬────┬────┐   ┌───┬──────────┬────┬───┬───┬────┐
//    │    │ ¥  │ £  │ €  │ $  │    │   │ % │    7     │ 8  │ 9 │ : │    │
//    ├────┼────┼────┼────┼────┼────┤   ├───┼──────────┼────┼───┼───┼────┤
//    │    │    │    │    │    │    │   │ + │    4     │ 5  │ 6 │ - │    │
//    ├────┼────┼────┼────┼────┼────┤   ├───┼──────────┼────┼───┼───┼────┤
//    │    │    │    │    │    │    │   │ * │    1     │ 2  │ 3 │ / │    │
//    └────┴────┴────┼────┼────┼────┤   ├───┼──────────┼────┼───┴───┴────┘
//                   │    │    │    │   │ = │ lt NAV 0 │    │
//                   └────┴────┴────┘   └───┴──────────┴────┘
  ___   &kp YEN   &kp POUNDS   &kp EURO   &kp DOLLAR   ___       &kp PERCENT   &kp N7       &kp N8   &kp N9   &kp COLON   ___
  ___   ___       ___          ___        ___          ___       &kp PLUS      &kp N4       &kp N5   &kp N6   &kp MINUS   ___
  ___   ___       ___          ___        ___          ___       &kp STAR      &kp N1       &kp N2   &kp N3   &kp SLASH   ___
                               ___        ___          ___       &kp EQUAL     &lt NAV N0   ___
           >;

           label = "Numpad";
       };

       nav_layer {
           bindings = <
//    ┌────┬──────────┬──────────┬───────────┬──────────┬────┐   ┌────────────┬──────┬──────┬───────┬──────┬──────┐
//    │    │          │ PrevTab  │  NewTab   │ NextTab  │    │   │            │ home │ pgdn │ pgup  │ end  │ del  │
//    ├────┼──────────┼──────────┼───────────┼──────────┼────┤   ├────────────┼──────┼──────┼───────┼──────┼──────┤
//    │    │ ShowDesk │ PrevDesk │ SwitchApp │ NextDesk │    │   │ Fullscreen │ left │ down │  up   │ rght │ bspc │
//    ├────┼──────────┼──────────┼───────────┼──────────┼────┤   ├────────────┼──────┼──────┼───────┼──────┼──────┤
//    │    │ PrevPage │          │ CloseWin  │ NextPage │    │   │    redo    │ copy │ cut  │ paste │ undo │      │
//    └────┴──────────┴──────────┼───────────┼──────────┼────┤   ├────────────┼──────┼──────┼───────┴──────┴──────┘
//                               │    del    │   bspc   │    │   │            │      │      │
//                               └───────────┴──────────┴────┘   └────────────┴──────┴──────┘
  ___   ___            &kp PrevTab    &kp NewTab      &kp NextTab    ___       ___              &kp HOME   &kp PG_DN   &kp PG_UP   &kp END     &kp DEL
  ___   &kp ShowDesk   &kp PrevDesk   &kp SwitchApp   &kp NextDesk   ___       &kp Fullscreen   &kp LEFT   &kp DOWN    &kp UP      &kp RIGHT   &kp BSPC
  ___   &kp PrevPage   ___            &kp CloseWin    &kp NextPage   ___       &kp REDO         &kp COPY   &kp CUT     &kp PASTE   &kp UNDO    ___
                                      &kp DEL         &kp BSPC       ___       ___              ___        ___
           >;

           label = "Navigation";
       };

       fn_layer {
           bindings = <
//    ┌────────┬─────┬──────┬──────┬────────────┬─────┐   ┌─────┬─────┬─────┬────┬──────────┬──────────┐
//    │        │     │      │ bri- │    bri+    │ pwr │   │     │ f7  │ f8  │ f9 │          │  bt_prv  │
//    ├────────┼─────┼──────┼──────┼────────────┼─────┤   ├─────┼─────┼─────┼────┼──────────┼──────────┤
//    │        │     │ mute │ vold │    volu    │     │   │     │ f4  │ f5  │ f6 │ out_ usb │ out_ ble │
//    ├────────┼─────┼──────┼──────┼────────────┼─────┤   ├─────┼─────┼─────┼────┼──────────┼──────────┤
//    │ bt_clr │     │ prev │ play │    next    │     │   │     │ f1  │ f2  │ f3 │          │  bt_nxt  │
//    └────────┴─────┴──────┼──────┼────────────┼─────┤   ├─────┼─────┼─────┼────┴──────────┴──────────┘
//                          │      │ LockScreen │     │   │ f12 │ f11 │ f10 │
//                          └──────┴────────────┴─────┘   └─────┴─────┴─────┘
  ___          ___     ___              &kp C_BRIGHTNESS_DEC   &kp C_BRIGHTNESS_INC   &kp C_POWER       ___       &kp F7    &kp F8    &kp F9   ___            &bt BT_PRV
  ___          &none   &kp C_MUTE       &kp C_VOL_DN           &kp C_VOLUME_UP        ___               ___       &kp F4    &kp F5    &kp F6   &out OUT_USB   &out OUT_BLE
  &bt BT_CLR   ___     &kp C_PREVIOUS   &kp C_PLAY_PAUSE       &kp C_NEXT             ___               ___       &kp F1    &kp F2    &kp F3   ___            &bt BT_NXT
                                        ___                    &kp LockScreen         ___               &kp F12   &kp F11   &kp F10
           >;

           label = "Function";
       };

       mouse_layer {
           bindings = <
//    ┌────┬──────┬──────┬──────┬────────┬────────┐   ┌──────┬────────┬────────┬────────┬────────┬────┐
//    │    │      │ rclk │ mclk │  lclk  │        │   │      │ SCRL_R │ SCRL_U │ SCRL_D │ SCRL_L │    │
//    ├────┼──────┼──────┼──────┼────────┼────────┤   ├──────┼────────┼────────┼────────┼────────┼────┤
//    │    │ lctl │ lalt │ lsft │  lgui  │        │   │      │  MS_L  │  MS_D  │  MS_U  │  MS_R  │    │
//    ├────┼──────┼──────┼──────┼────────┼────────┤   ├──────┼────────┼────────┼────────┼────────┼────┤
//    │    │      │      │      │        │        │   │      │        │        │        │        │    │
//    └────┴──────┴──────┼──────┼────────┼────────┤   ├──────┼────────┼────────┼────────┴────────┴────┘
//                       │      │ mo NAV │ mo FUN │   │ mclk │  lclk  │  rclk  │
//                       └──────┴────────┴────────┘   └──────┴────────┴────────┘
  ___   ___         &mkp MB2   &mkp MB3    &mkp MB1   ___           ___        &msc SCRL_R   &msc SCRL_U   &msc SCRL_D   &msc SCRL_L   ___
  ___   &kp LCTRL   &kp LALT   &kp LSHFT   &kp LGUI   ___           ___        &mmv MS_L     &mmv MS_D     &mmv MS_U     &mmv MS_R     ___
  ___   ___         ___        ___         ___        ___           ___        ___           ___           ___           ___           ___
                               ___         &mo NAV    &mo FUN       &mkp MB3   &mkp MB1      &mkp MB2
           >;

           label = "Mouse";
       };
   };
};
/*
qmk:json:start
{
  "layout": [
    "x x x x x x _ x x x x x x",
    "x x x x x x _ x x x x x x",
    "x x x x x x _ x x x x x x",
    "_ _ _ x x x _ x x x _ _ _"
  ],
  "comment_preview": {
    "position": "top",
    "keymap_overrides": {
      "___": "  ",
      "&cwt": "cwt",
      "&hml": "hml",
      "&hmr": "hmr",
      "&nwt": "nwt",
      "&mmv ": "",
      "&msc ": "",
      "&num_word PAD": "numw",
      "&num_word": "numw",
      "&lt3": "<3",
      "ISO": "ä",
      "EURO": "€",
      "POUNDS": "£",
      "YEN": "¥",
      "TM": "™",
      "REDO": "redo",
      "CUT": "cut",
      "COPY": "copy",
      "PASTE": "paste",
      "UNDO": "undo"
    }
  },
  "variant": "zmk"
}
qmk:json:end
*/
