// https://github.com/JeffDess/zmk-config/blob/5d12b29c4598c2e8b99e4e72208bd0cbeb28ca0b/config/constants.h
#include "zmk-helpers/helper.h"
#include <behaviors/num_word.dtsi>

// Keys
#define ___ &trans
#define XXX &none
#define HYPER LS(LA(LC(LEFT_GUI)))
#define ISO NON_US_BSLH
#define NewTab RG(T)
#define PrevTab LA(LG(LEFT))
#define NextTab LA(LG(RIGHT))
#define SwitchApp RG(TAB)
#define PrevDesk RC(LEFT)
#define NextDesk RC(RIGHT)
#define ShowDesk RC(UP)
#define CloseWin RG(W)
#define PrevPage RG(LEFT)
#define NextPage RG(RIGHT)
#define Fullscreen LS(LG(F))
#define EURO LS(LA(N2))
#define POUNDS LA(N3)
#define YEN LA(Y)

// Layers
// Must match order in which they are defined
#define ENT 0
#define SYM 1
#define NUM 2
#define PAD 3
#define NAV 4
#define FUN 5
#define MOU 6

// OS
// https://github.com/urob/zmk-helpers/tree/main?tab=readme-ov-file#unicode-characters-and-language-collection
#define WINDOWS 0
#define LINUX 1
#define MAC_OS 2

#undef COPY
#undef PASTE
#undef CUT
#undef UNDO
#undef REDO
// TODO: make these OS agnostic
#define COPY LG(C)
#define PASTE LG(V)
#define CUT LG(X)
#define UNDO LG(Z)
#define REDO LS(LG(Z))
#define LockScreen LC(LG(Q))

/* Global defaults */

#define QUICK_TAP_MS 175
#define PRIOR_IDLE_MS 100

&sk {
  release-after-ms = <900>;
  quick-release;
};

&sl { // Allow sticky mods to chord across sticky layers.
  ignore-modifiers;
};

&lt {
  flavor = "balanced";
  tapping-term-ms = <200>;
  quick-tap-ms = <QUICK_TAP_MS>;
};

ZMK_CAPS_WORD(caps_word,
    continue-list = <
      UNDERSCORE MINUS
      BACKSPACE
    >;
)

&num_word {
  continue-list = <BSPC DEL DOT COMMA PLUS MINUS STAR FSLH EQUAL COLON>;
};

/ {
    behaviors {
        // num_word tap
        nwt: nwt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <QUICK_TAP_MS>;
            require-prior-idle-ms = <PRIOR_IDLE_MS>;
            bindings = <&kp>, <&num_word>;
        };
        // caps_word tap
        cwt: cwt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <QUICK_TAP_MS>;
            require-prior-idle-ms = <PRIOR_IDLE_MS>;
            bindings = <&kp>, <&caps_word>;
        };
    };
};
/* Homerow mods */

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LT5 LM0 LM1 LM2 LM3 LM4 LM5 LB0 LB1 LB2 LB3 LB4 LB5
#define KEYS_R RT0 RT1 RT2 RT3 RT4 LT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2 // Thumbs on 36+ keys.

#define MAKE_HRM(NAME, HOLD, TAP, TRIGGER_POS)                                 \
  ZMK_HOLD_TAP(NAME, bindings = <HOLD>, <TAP>; flavor = "balanced";            \
               tapping-term-ms = <280>; quick-tap-ms = <QUICK_TAP_MS>;         \
               require-prior-idle-ms = <PRIOR_IDLE_MS>; hold-trigger-on-release;         \
               hold-trigger-key-positions = <TRIGGER_POS>;)

MAKE_HRM(hml, &kp, &kp, KEYS_R THUMBS) // Left-hand HRMs.
MAKE_HRM(hmr, &kp, &kp, KEYS_L THUMBS) // Right-hand HRMs.

/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

ZMK_COMBO(enter, &kp ENTER, RM1 RM2 RM3, ALL, 50, 75)
